FORMAT: 1A
HOST: https://app.jumplead.com/api/v1

# Jumplead
Welcome to the Jumpelead API v1 developer documentation!

## Authentication

![OAuth 2.0](http://oauth.net/images/oauth-2-sm.png)

The Jumplead API uses [OAuth 2.0](http://oauth.net/2/) for authentication. You will first need to register your application on the [Jumplead Developer](http://developer.jumplead.com) site.

Once registered use the following endpoints to get your Access and Refresh tokens:

* `Authorization URL` https://account.mooloop.com/oauth/authorize
* `Access Token URL` https://account.mooloop.com/oauth/access_token
* `Refresh Token URL` https://account.mooloop.com/oauth/access_token

### Scopes

The following scopes are available. Only request the scopes that you need access to.

| Scope                         | Description                                                   |
| ----------------------------- | ------------------------------------------------------------- |
| jumplead.personal             | Access to personal information, such as email and address.    |
| jumplead.automation           | Access to manage Automations                                  |
| jumplead.streams              | Access to manage Activity Streams                             |
| jumplead.landing-pages        | Access to manage Landing Pages                                |
| jumplead.lead-capture-forms   | Access to manage Lead capture forms                           |
| jumplead.campaigns            | Access to manage Campaigns                                    |
| jumplead.contacts             | Access to manage Contacts                                     |
| jumplead.messages             | Access to manage Messages                                     |
| jumplead.analytics            | Access to Analytics Statistics                                |
| jumplead.reseller             | Access to Reseller Controls                                   |
| jumplead.billing              | Access to Billing Information and Invoices                    |
| jumplead.keywords             | Access to SERP Keywords                                       |


# Group Automations
Automations are a series of actions that can be applied to a contact.

## Automation Fields
| Name              | Description                               | Details           |
| ----------------- | ----------------------------------------- | ----------------- |
| name              | The name of the Automation                | string, required  |
| description       | A friendly description of the Automation  | string, required  |
| trigger_type      | The type of the automation trigger        | string, optional  |
| trigger_id        | The ID of the trigger, see trigger_type   | mixed, optional   |
| actions           | An array of actions for the automation    | array, optional   |
| stats             | System generated statistics               | object, read-only |

## Automation Collection [/automations{?trigger_type}]

### List all Automations [GET]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 200 (application/json)

    + Body
    
            {
              "data": [
                {
                  "id": "5086bffb7558f4b37a000000",
                  "name": "No Sub - 21 Days",
                  "description": "Triggered when client hasnt subscribed after 21 days of taking a trial",
                  "trigger_type": "api",
                  "trigger_id": null,
                  "actions": [
                    
                  ],
                  "stats": {
                    "conversion": 2,
                    "conversion_rate": 0.058258083309059
                  }
                },
                {
                  "id": "5097ee7241d906ef07000000",
                  "name": "Contact Form",
                  "description": "Jumplead website contact form",
                  "trigger_type": "form",
                  "trigger_id": "502901e341d906880800000b",
                  "actions": [
                    {
                      "type": "notification",
                      "users": [
                        1,
                        2,
                        1074
                      ]
                    },
                    {
                      "type": "stage",
                      "id": 55
                    }
                  ],
                  "stats": {
                    "conversion": 11,
                    "conversion_rate": 0.32041945819983
                  }
                }
              ],
              "meta": {
                "pagination": {
                  "total": 16,
                  "count": 10,
                  "per_page": 2,
                  "current_page": 1,
                  "total_pages": 2,
                  "links": {
                    "next": "https:\/\/app.jumplead.com\/api\/v1\/automations?page=2"
                  }
                }
              }
            }

+ Parameters
    + trigger_type (optional, string) ... Filter automations by their trigger type.

### Create an Automation [POST]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken
            
    + Body

            {
              "data": {
                "name": "Contact Form",
                "description": "Trigger when a contact submits the contact form",
              }
            }

+ Response 200 (application/json)

            {
              "data": {
                "id": "5086bfdb75d8f4b37a000000",
                "name": "Contact Form",
                "description": "Trigger when a contact submits the contact form",
                "trigger_type": "api",
                "trigger_id": null,
                "actions": [
                  
                ],
                "stats": {
                  "conversion": 0,
                  "conversion_rate": 0
                }
              }
            }

## Automation [/automations/{id}]

+ Parameters
    + id (required, string, `5086bfdb75d8f4b37a000000`) ... The ID of the automation.
    
+ Model (application/json)

    + Body
    
            {
              "data": {
                "id": "5086bfdb75d8f4b37a000000",
                "name": "Contact Form",
                "description": "Trigger when a contact submits the contact form",
                "trigger_type": "api",
                "trigger_id": null,
                "actions": [
                  
                ],
                "stats": {
                  "conversion": 2,
                  "conversion_rate": 0.058258083309059
                }
              }
            }

### Retrieve an Automation [GET]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 200 (application/json)

    [Automation][]

### Update an Automation [PUT]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken
            
    + Body

            {
              "data": {
                "name": "Updated Contact Form Name"
              }
            }

+ Response 200 (application/json)
    [Automation][]

### Delete an Automation [DELETE]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 204


## Automation Trigger [/automations/trigger]

### Trigger an Automation [POST]
To trigger an Automation you MUST pass an **automation_id** and either a **contact_id** or a **first_name**, **last_name** and an **email**.

If the contact doesn't exist Jumplead will create one automatically and trigger the automation against the contact.

+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

    + Body

            {
              {
                "automation_id": "5086bfdb75d8f4b37a000000",
                "first_name": "John",
                "last_name": "Smith",
                "email": "john.smith@gmail.com"
              }
            }

+ Response 202

    + Body
    
            Automation triggered.
            
            
            
            
# Group Campaigns
Campaigns are a group of emails that can be sent to the contact in schedule.

## Campaign Fields
| Name              | Description                               | Details           |
| ----------------- | ----------------------------------------- | ----------------- |
| name              | The name of the Campaign                | string, required  |
| company_name | The name of the company sending the Campaign | string, required |
| address_street | Street address of the sending company | string, required |
| address_locality | Locality / Town of the sending company | string, required |
| address_admin_area | Administration area / City  of the sending company | string, required |
| address_postal_code | Postal / Zip code of the sending company | string, required |
| address_country | ISO 2 Digit Country code of the sending company | string, required |
| type | The type of the campaign | integer, required <br>0 - Broadcast<br>1 - Autoresponder |
| convert_action | If a contact receiving this campaign converts on another form | integer, optional <br>0 - Stop schedule<br>1 - Carry on |
| receive_action | Contacts can receive this campaign | integer, optional <br>0 - Only once<br>1 - More than once |
| stats | System generated statistics | object, read-only |
| schedule_triggers | Triggers for this schedule. Only editable through Jumplead App | object, read-only |
| schedule_actions | Actions for this schedule. Only editable through Jumplead App | object, read-only |

## Campaign Collection [/campaigns]

### List all Campaigns [GET]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 200 (application/json)

    + Body
    
            {
              "data": [
                {
                  "id": "507d429941d9067705000001",
                  "name": "1. Trial Signup",
                  "company_name": "Jumplead",
                  "address_street": "23 Hallfields Lane",
                  "address_locality": "Rothley",
                  "address_admin_area": "Leicestershire",
                  "address_postal_code": "LE7 7NF",
                  "address_country": "GB",
                  "convert_action": 1,
                  "receive_action": 0,
                  "type": 1,
                  "stats": {
                    "open_rate": 90.657439446367,
                    "click_rate": 5.5363321799308,
                    "delivery_rate": 100,
                    "delivered": 578,
                    "deferred": 0,
                    "bounce": 0,
                    "open": 524,
                    "click": 32,
                    "spamreport": 0
                  },
                  "schedule_triggers": [
                    {
                      "type": "3",
                      "id": "507eac247558f48a5f000000"
                    }
                  ],
                  "schedule_actions": [
                    {
                      "delay": {
                        "day": 0,
                        "hour": 1,
                        "min": "30"
                      },
                      "actions": [
                        {
                          "type": 1,
                          "id": "538f0a5c7558f4932f8b4567"
                        }
                      ]
                    }
                  ]
                }
              ],
              "meta": {
                "stats": null,
                "pagination": {
                  "total": 10,
                  "count": 1,
                  "per_page": 1,
                  "current_page": 1,
                  "total_pages": 10,
                  "links": {
                    "next": "https:\/\/app.jumplead.com\/api\/v1\/campaigns?page=2"
                  }
                }
              }
            }


