FORMAT: 1A
HOST: https://app.jumplead.com/api/v1

# Jumplead
Welcome to the Jumpelead API v1 developer documentation!

## Authentication

![OAuth 2.0](http://oauth.net/images/oauth-2-sm.png)

The Jumplead API uses [OAuth 2.0](http://oauth.net/2/) for authentication. You will first need to register your application on the [Jumplead Developer](http://developer.jumplead.com) site.

Once registered use the following endpoints to get your Access and Refresh tokens:

* `Authorization URL` https://account.mooloop.com/oauth/authorize
* `Access Token URL` https://account.mooloop.com/oauth/access_token
* `Refresh Token URL` https://account.mooloop.com/oauth/access_token

### Scopes

The following scopes are available. Only request the scopes that you need access to.

| Scope                         | Description                                                   |
| ----------------------------- | ------------------------------------------------------------- |
| jumplead.personal             | Access to personal information, such as email and address.    |
| jumplead.automation           | Access to manage Automations                                  |
| jumplead.streams              | Access to manage Activity Streams                             |
| jumplead.landing-pages        | Access to manage Landing Pages                                |
| jumplead.lead-capture-forms   | Access to manage Lead capture forms                           |
| jumplead.campaigns            | Access to manage Campaigns                                    |
| jumplead.contacts             | Access to manage Contacts                                     |
| jumplead.messages             | Access to manage Messages                                     |
| jumplead.analytics            | Access to Analytics Statistics                                |
| jumplead.reseller             | Access to Reseller Controls                                   |
| jumplead.billing              | Access to Billing Information and Invoices                    |
| jumplead.keywords             | Access to SERP Keywords                                       |


# Group Automations
Automations are a series of actions that can be applied to a contact.

## Automation Fields
| Name              | Description                               | Details           |
| ----------------- | ----------------------------------------- | ----------------- |
| name              | The name of the Automation                | string, required  |
| description       | A friendly description of the Automation  | string, required  |
| trigger_type      | The type of the automation trigger        | string, optional  |
| trigger_id        | The ID of the trigger, see trigger_type   | mixed, optional   |
| actions           | An array of actions for the automation    | array, optional   |
| stats             | System generated statistics               | object, read-only |

## Automation Collection [/automations{?trigger_type}]

### List all Automations [GET]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 200 (application/json)

    + Body
    
            {
              "data": [
                {
                  "id": "5086bffb7558f4b37a000000",
                  "name": "No Sub - 21 Days",
                  "description": "Triggered when client hasnt subscribed after 21 days of taking a trial",
                  "trigger_type": "api",
                  "trigger_id": null,
                  "actions": [
                    
                  ],
                  "stats": {
                    "conversion": 2,
                    "conversion_rate": 0.058258083309059
                  }
                },
                {
                  "id": "5097ee7241d906ef07000000",
                  "name": "Contact Form",
                  "description": "Jumplead website contact form",
                  "trigger_type": "form",
                  "trigger_id": "502901e341d906880800000b",
                  "actions": [
                    {
                      "type": "notification",
                      "users": [
                        1,
                        2,
                        1074
                      ]
                    },
                    {
                      "type": "stage",
                      "id": 55
                    }
                  ],
                  "stats": {
                    "conversion": 11,
                    "conversion_rate": 0.32041945819983
                  }
                }
              ],
              "meta": {
                "pagination": {
                  "total": 16,
                  "count": 10,
                  "per_page": 2,
                  "current_page": 1,
                  "total_pages": 2,
                  "links": {
                    "next": "https:\/\/app.jumplead.com\/api\/v1\/automations?page=2"
                  }
                }
              }
            }

+ Parameters
    + trigger_type (optional, string) ... Filter automations by their trigger type.

## Automation [/automations/{id}]

+ Parameters
    + id (required, string, `5086bfdb75d8f4b37a000000`) ... The ID of the automation.
    
+ Model (application/json)

    + Body
    
            {
              "data": {
                "id": "5086bfdb75d8f4b37a000000",
                "name": "Contact Form",
                "description": "Trigger when a contact submits the contact form",
                "trigger_type": "api",
                "trigger_id": null,
                "actions": [
                  
                ],
                "stats": {
                  "conversion": 2,
                  "conversion_rate": 0.058258083309059
                }
              }
            }

### Retrieve an Automation [GET]
+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

+ Response 200 (application/json)

    [Automation][]

## Automation Trigger [/automations/trigger]

### Trigger an Automation [POST]
To trigger an Automation you MUST pass an **automation_id** and either a **contact_id** or a **first_name**, **last_name** and an **email**.

If the contact doesn't exist Jumplead will create one automatically and trigger the automation against the contact.

+ Request (application/json)

    + Headers
    
            Authorization: Bearer someRandomAccessToken

    + Body

            {
              {
                "automation_id": "5086bfdb75d8f4b37a000000",
                "first_name": "John",
                "last_name": "Smith",
                "email": "john.smith@gmail.com"
              }
            }

+ Response 202

    + Body
    
            Automation triggered.


# Group Contacts

## Contact Fields
| Name              | Description                                                                                                                               | Details                                               |
| ----------------- | ----------------------------------------------------------------------------------------------------------------------------------------- | ----------------------------------------------------- |
| first_name        | The first name of the contact                                                                                                             | string, required                                      |
| last_name         | The last name of the contact                                                                                                              | string, required                                      |
| email             | Email address for the contact. Must be valid                                                                                              | string, required                                      |
| contactable       | Flag for if the contact has globally opted out of emails                                                                                  | boolean, optional                                     |
| company           | The ID of the company this contact belongs to                                                                                             | string, optional                                      |
| background        | A textual description of the contact                                                                                                      | string, optional                                      |
| status            | Status for the contact                                                                                                                    | integer, optional<br>0 = Not Managed<br>1 = Managed   |
| stage             | ID of the Stage for the contact. Fetch stage IDs from the Stages endpoint                                                                 | integer, optional                                     |
| tags              | A list of any tags applied to the contact                                                                                                 | array, optional                                       |
| lead_score        | The contact's [lead score](http://help.jumplead.com/pages/explore/contacts/lead-scores/) generated by the system                          | integer, read-only                                    |
| geoname           | Jumplead uses [Geonames](http://www.geonames.org/) to identify a Contact's location. This ID is the GeonameID of the contact's location   | integer, optional                                     |


